# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environments
.venv/
.env

# Translation caches
translation_cache_Qwen/

# Outputs
*.csv
!CIS_POLVYK.CSV
!samples/*_sample.csv
# VS Code / misc
.vscode/
